@charset "utf-8";
/* MINDsLab UX/UI팀. YMJ. 20200910 */

/* main-Service Title Area */
.maumUI .svc_sta {display:block; position:relative; top:0; width:100%; min-width:1280px; transform:translate(0,0); transition:all 0.3s ease-out;}

/* main-visual영역 */
.maumUI .svc_sta .svc_visual {display:block; overflow:hidden; position:relative; width:100%; height:300px; text-align:center;}
.maumUI .svc_sta .svc_visual:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(25,42,57,0.7); z-index:10;}
.maumUI .svc_sta .svc_visual dl {display:inline-block; position:relative; margin:80px 0 0 0; color:#fff; z-index:20;}
.maumUI .svc_sta .svc_visual dl dt {display:block; margin:0 0 5px 0; font-size:40px; font-weight:700; line-height:54px; letter-spacing:-1px;}
.maumUI .svc_sta .svc_visual dl dd {display:block; font-size:28px; line-height:36px;}
.maumUI .svc_sta .svc_visual .bg_img {position:absolute; left:0; width:100%; transition:all 0.5s ease-out;}

/* header-lnb */
.maumUI .svc_sta .lnb {display:block; clear:both; overflow:hidden; position:absolute;  bottom:0;  width:100%; min-height:56px; padding:0 35px; text-align:center; border-top:1px solid rgba(245,246,250,0.2); background:rgba(25,42,57,0.5); box-sizing:border-box; transition:all 0.3s ease-out; z-index:10;}
.maumUI .svc_sta .lnb h2 {display:none; float:left; height:33px; margin:10px 0 0 0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px;}
.maumUI .svc_sta .lnb ul.nav {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li a {display:block; position:relative; width:200px; height:100%; padding:0; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; text-align:center; line-height:55px; border-radius:0; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a.active {color:#fff; background:rgba(255,255,255,0.15); }
.maumUI .svc_sta .lnb ul.nav li a.active:before {content:''; position:absolute; top:0; left:0; width:100%; height:3px; background:#fff;}

.maumUI .svc_sta .lnb ul.nav_etc {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li a {display:block; position:relative; height:100%; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; border-radius:0; background:rgba(255,255,255,0); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a:hover {color:rgba(255,255,255,0.7); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a.btn_rou_pstive {padding:0 15px; line-height:55px; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a.btn_rou_pstive {padding:0 15px; line-height:55px; transition:all 0.3s ease-out;}

/* header-scroll transform */
.maumUI.transform #header .maum_sta {position:fixed; top:0; left:0; width:100%; height:40px; transition:all 0.3s ease-out; z-index:50;}
.maumUI.transform #header .maum_sta h1 {width:50px; margin:2px 0 0 20px; background:url("../images/logo_maumAi_w.svg") 50% 50% no-repeat; background-size:100% auto;}
.maumUI.transform #header .maum_sta .maum_gnb {margin:0 0 0 40px;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li {margin:0 20px 0 0;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li a {height:40px; color:#fff; font-size:12px; font-weight:500; line-height:38px;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}

.maumUI.transform #header .maum_sta .maum_etc {margin:5px 20px 0 0;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li {margin:0 0 0 10px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a {height:30px; color:#fff; font-size:12px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico {width:30px; background-size:16px 16px !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li.active>a.btn_ico {background-color:rgba(255,255,255,0.1) !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.user {background:url("../images/ico_user_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.lang {background:url("../images/ico_lang_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.app {background:url("../images/ico_app_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.mindsLab {background:url("../images/ico_mindsLab_w.svg") 50% 50% no-repeat}

.maumUI.transform.trans #header .svc_sta {position:fixed; top:40px; width:100%; height:55px; transform:translate(0,0); transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .svc_visual{position:absolute; top:-300px;}
.maumUI.transform.trans #header .svc_sta .lnb {background:#fff; box-shadow:0 0 12px rgba(25,42,57,0.25);}
.maumUI.transform.trans #header .svc_sta .lnb h2 {display:inline-block;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a {display:block; margin:0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb a {width:auto; margin:0 20px; color:#99a3ae; font-size:14px;}
.maumUI.transform.trans #header .svc_sta .lnb a:hover {color:#121f3e;}
.maumUI.transform.trans #header .svc_sta .lnb a.active {color:#3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc {float:right; margin:10px 0 0 0;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a {height:36px; margin:0 0 0 20px; padding:0 15px; color:#fff; font-size:13px; line-height:34px; border-radius:4px; background:#3599ff;}

/* container */
.maumUI #container {display:table; width:100%; height:100%; padding:0; background:#f5f7f9;}
.maumUI #container.view {padding:95px 0 0 0;}

/* container-snb */
.maumUI #container .snb {display:table-cell; width:250px; min-width:250px; padding:0; vertical-align:top; border-right:1px solid #eceef3; box-sizing:border-box; background:#fff;}
.maumUI #container .snb .bgBox {display:block; padding:20px; border-bottom:1px solid #eceef3; background:#fff;}
.maumUI #container .snb .bgBox a {display:block; height:46px; color:#fff; font-size:15px; font-weight:700; text-align:center; line-height:44px; border-radius:4px; background:#3599ff;}
.maumUI #container .snb .bgBox a span {display:inline-block; margin:0 7px 0 0; opacity:0.7;}
.maumUI #container .snb .navBox {padding:25px 20px;}
.maumUI #container .snb .navBox .nav_tit {display:block; margin:0 0 7px 0; padding:0; color:#98a7b7;}
.maumUI #container .snb ul.nav {display:block;}
.maumUI #container .snb ul.nav li {display:block; margin:0 0 5px 0; font-size:11px;}
.maumUI #container .snb ul.nav li a {display:block; min-height:32px; padding:10px; color:#121f3e; font-size:14px; border-radius:4px; box-sizing:border-box; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a span {display:inline-block; margin:0 7px 0 0; color:#abb0bf; opacity:0.7; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover span {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a.active {color:#3599ff; background:#f2f6ff;}
.maumUI #container .snb ul.nav li a.active span {color:#3599ff;}

/* container-contents */
.maumUI #container .contents {display:table-cell; width:calc(100% - 250px); padding:30px; vertical-align:top; box-sizing:border-box;}

/* container-contents-title */
.maumUI #container .contents .titArea {display:block; margin:0 0 10px 20px;}
.maumUI #container .contents .titArea h3 {display:block; margin:0 0 10px 0; color:#121f3e; font-size:24px; font-weight:700; line-height:24px; letter-spacing:-1px;}
.maumUI #container .contents .titArea h3 .en_type {display:inline-block; margin:1px 0 0 10px; padding:3px 15px; color:#000; font-size:12px; line-height:18px; border-radius:20px; vertical-align:top;}
.maumUI #container .contents .titArea h3 .en_type.ft_clr_stt {color:#7c71e1; background:#d7d3ff;}
.maumUI #container .contents .titArea p {display:block; color:#99a3ae; font-size:14px;}

/* container-contents-엔진 list */
.maumUI #container .contents ul.lst_engine {display:block; clear:both; padding:20px;}
.maumUI #container .contents ul.lst_engine li {float:left; width:250px; min-width:200px; margin:0 25px 0 0; border-radius:7px;}
.maumUI #container .contents ul.lst_engine li a {display:block; position:relative; background:#fff; box-shadow:0 0 15px rgba(30,40,109,0.2); transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a span {display:block;}
.maumUI #container .contents ul.lst_engine li a span.category {position:absolute; top:10px; left:50%; height:28px; padding:0 20px; color:#fff; font-size:14px; line-height:28px; border:1px solid #fff; border-radius:20px; background:rgba(0,0,0,0.5); transform:translate(-50%,0); z-index:5; opacity:0; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a span.thumb {display:block; overflow:hidden; width:100%; height:250px; background:#333c46;}
.maumUI #container .contents ul.lst_engine li a span.thumb img {width:100%;transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a span.tit {padding:15px 15px 0 15px; color:#262626; font-size:16px; font-weight:700;}
.maumUI #container .contents ul.lst_engine li a span.txt {padding:10px 15px 20px 15px; color:#757575; font-size:13px; letter-spacing:-0.5px;}

.maumUI #container .contents ul.lst_engine li a.hover {box-shadow:0 0 5px rgba(30,40,109,0.1); transform:scale(0.95,0.95); transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a.hover span.category {top:-15px; box-shadow:0 5px 10px rgba(30,40,109,0.7); opacity:1.0; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a.hover img {animation:imgRotate 2.0s infinite;}
@-webkit-keyframes imgRotate {0%   {transform:scale(1,1);}
    50%  {transform:scale(1.1,1.1);}
    100% {transform:scale(1,1);}
}

.maumUI #container .contents ul.lst_engine li.stt a span.category {color:#000; border:1px solid #8f51fd; background:#8f51fd; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li.stt a:hover span.category {color:#000; border:1px solid #8f51fd; background:#8f51fd; transition:all 0.3s ease-out;}

/* container-contents-table_list */
.maumUI #container .contents .tbl_lstBox {display:block; clear:both; margin:0 20px; padding:0; border-radius:4px; box-sizing:border-box; background:#fff;}
.maumUI #container .contents .tbl_lstBox .tbl_lst {table-layout:fixed;}
.maumUI #container .contents .tbl_lstBox .tbl_lst thead th {padding:12px 15px; color:#fff; border-bottom:none; background:#616e7b;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td {padding:8px 15px;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td .bg_rouBox {display:inline-block; padding:4px 15px; color:#98a7b7; font-size:12px; border-radius:20px; background:#f5f7f9;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td .bg_rouBox.stt {color:#7c71e1; background:#d7d3ff;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td a.link {overflow:hidden; float:left; width:100%; color:#55a8fd; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td a.link:hover {text-decoration:underline;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td .disc {display:none; clear:both; overflow:hidden; padding:7px 10px; border-radius:3px; background:rgba(0,0,0,0.05);}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody tr:hover td .disc {display:block;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td a.btn_line {display:inline-block; padding:7px 12px; color:#55a8fd; border:1px solid rgba(0,0,0,0.1); border-radius:3px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.maumUI #container .contents .tbl_lstBox .tbl_lst tbody td a.btn_line:hover {color:#fff; background:#55a8fd; transition:all 0.3s ease-out;}

/* 엔진설정 */
.cellArea {display:table; width:100%; height:calc(100% - 90px); margin:20px 0 0 0; padding:0 0 0 10px; box-sizing:border-box;}
.cellArea .lot_cell {display:table-cell; width:20%; height:100%; min-width:200px; vertical-align:top;}
.cellArea .lot_cell .cellBox {display:block; position:relative; height:100%; margin:0 10px; border-radius:7px; box-sizing:border-box; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.1);}
.cellArea .lot_cell:last-child .cellBox {margin:0 5px 0 10px;}

.cellArea .lot_cell.active {width:auto;}
.cellArea .lot_cell.active .cellBox {box-shadow:0 0 20px rgba(0,0,0,0.1);}

/* 엔진설정(비활성화) */
.cellArea .lot_cell .cellBox.disb {box-shadow:none; pointer-events:none;}
.cellArea .lot_cell .cellBox.disb .step_helpBox {display:block; position:absolute; top:0; left:0; width:100%; min-width:190px; height:100%; padding:90px 25px 0 25px; border-radius:7px; box-sizing:border-box; background:#4c5865; opacity:1.0; z-index:5;}
.cellArea .lot_cell .cellBox.disb .step_helpBox dt {display:block; color:#fff; font-size:24px; font-weight:700; line-height:28px; letter-spacing:-0.5px;}
.cellArea .lot_cell .cellBox.disb .step_helpBox dt span {display:block; font-size:15px;}
.cellArea .lot_cell .cellBox.disb .step_helpBox dd {display:block; padding:20px 0 0 0; color:#fff; font-size:14px; line-height:20px; word-break:keep-all;}
.cellArea .lot_cell .cellBox.disb .cell_top {display:none;}

.cellArea .lot_cell .cellBox.disb:before {content:'←'; position:absolute; top:calc(90% - 30px); left:25px; width:20px; height:20px; color:#fff; text-align:center; line-height:20px; border:1px solid #fff; border-radius:20px; opacity:0.5; z-index:10;}
.cellArea .lot_cell .cellBox.disb:after {content:'이전 단계를 완료해 주세요.'; position:absolute; top:90%; left:25px; color:#fff; font-size:13px; opacity:0.5; z-index:10;}

.cellArea .lot_cell .cellBox.disb .cell_mid .fifo {display:none; top:0; height:100%;}
/* [D]201027추가 */
.cellArea .lot_cell .cellBox.disb .cell_mid .fifo_error {display:none; top:0; height:100%;}

/* 엔진설정(입력) */
.cellArea .lot_cell .cellBox .step_helpBox {opacity:0; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .step_helpBox dt span {margin:0 5px 0 0;}

.cellArea.complete .lot_cell {width:25%;}
.cellArea.complete .lot_cell.active {width:25%;}

.cellArea .lot_cell .cellBox .step_helpBox {display:none;}
.cellArea .lot_cell .cellBox .cell_top {display:block; clear:both; overflow:hidden; position:relative; padding:15px 25px; border-bottom:1px solid #e2e5ec;}
.cellArea .lot_cell .cellBox .cell_top h4 {float:left; color:#121f3e; font-size:24px; font-weight:700; line-height:26px; letter-spacing:-1px;}
.cellArea .lot_cell .cellBox .cell_top h4 span {display:block; font-size:15px;}
.cellArea .lot_cell .cellBox .cell_top .btn_step_help {overflow:hidden; position:absolute; top:15px; right:20px; width:20px; height:20px; color:#fff; font-size:11px; text-align:center; line-height:20px; border-radius:20px; background:#97a1ab; opacity:0.7; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_top .btn_step_help:hover {opacity:1.0; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .step_helpBox.show {display:block; position:absolute; top:-47px; right:-10px; padding:8px 10px; color:#fff; font-size:12px; border-radius:4px; box-sizing:border-box; background:#35394a; opacity:1.0; transition:all 0.3s ease-out; z-index:10;}
.cellArea .lot_cell .cellBox .step_helpBox.show:before {content:''; position:absolute; bottom:-10px; right:35px; border-style:solid; border-width:6px; border-color:#35394a transparent transparent transparent;}
.cellArea .lot_cell:nth-child(2) .cellBox .step_helpBox.show {top:-65px;}

.cellArea .lot_cell .cellBox .cell_mid {display:block; min-height:540px;}
.cellArea .lot_cell .cellBox .cell_mid h5 {display:block; padding:20px 25px 10px 25px; font-size:14px;}
.cellArea .lot_cell .cellBox .cell_mid h5 + .lot_item {padding:0 15px;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item + h5 {padding:10px 25px 10px 25px;}
.cellArea .lot_cell .cellBox .cell_mid .toggle .lot_item:first-child {padding:0 15px;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item {display:table; width:100%; padding:20px 15px 10px 15px; box-sizing:border-box;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item + .lot_item {padding:10px 15px 10px 15px;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl {display:table-cell; padding:0 10px;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl:first-child:nth-last-child(1) {width:100%;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl:first-child:nth-last-child(2), .cellArea .lot_cell .cellBox .cell_mid .lot_item dl:first-child:nth-last-child(2) ~ dl {width:50%;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl:first-child:nth-last-child(3), .cellArea .lot_cell .cellBox .cell_mid .lot_item dl:first-child:nth-last-child(3) ~ dl {width:33.3333%;}

.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt {display:block; padding:0 0 4px 0; color:#98a7b7;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help {position:relative; margin:0 0 0 7px;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help:before {content:'?'; position:absolute; bottom:1px; left:0; width:14px; height:14px; color:#fff; font-size:10px; text-align:center; line-height:14px; border-radius:20px; background:#97a1ab; opacity:0.7; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help em {display:none; position:absolute; bottom:20px; left:50%; min-width:200px; margin:0 0 0 7px; padding:8px 10px; color:#fff; font-size:11px; line-height:14px; word-break:keep-all; border-radius:4px; box-sizing:border-box; background:#35394a; transform:translate(-50%,0); opacity:0; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help em:before {content:''; position:absolute; bottom:-10px; left:50%; border-style:solid; border-width:6px; border-color:#35394a transparent transparent transparent; transform:translate(-50%,0);}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help:hover:before {opacity:1.0; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help:hover em {display:block; opacity:1.0; transition:all 0.3s ease-out; z-index:10;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .btn_lyr_open {float:right; color:#3599ff;}

.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dd {display:block;}
.maumUI #container .contents .cellArea .lot_cell .cellBox .cell_mid .lot_item dl dd.tbl_lstBox {margin:0;}
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dd .ipt_txt {display:block; width:100%; min-width:50px; min-height:34px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; border:1px solid #e0e3ea; border-radius:3px; box-sizing:border-box; background:#f8f9fc; transition:all 0.3s ease-out;} /* 0122 width 값 MRS 수정*/
.cellArea .lot_cell .cellBox .cell_mid .lot_item dl dd .ipt_txt.percent {display:inline-block; width:calc(100% - 15px); margin:0 3px 0 0;}

.cellArea .lot_cell .cellBox .cell_mid .toggleBox {display:block;}
.cellArea .lot_cell .cellBox .cell_mid .toggleBox h5 {padding:10px 25px; text-align:left;}
.cellArea .lot_cell .cellBox .cell_mid .toggleBox h5 button {position:relative; display:inline-block; margin:0; padding:0; color:#3599ff; font-size:13px; text-align:center; border:none; border-radius:3px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_mid .toggleBox h5 button:before {content:'+'; display:inline-block; margin:0 5px 0 0;}
.cellArea .lot_cell .cellBox .cell_mid .toggleBox .toggle {display:none;}

.cellArea .lot_cell .cellBox .cell_mid .toggleBox.active button:before {content:'-';}
.cellArea .lot_cell .cellBox .cell_mid .toggleBox.active .toggle {display:block;}

.cellArea .lot_cell .cellBox .cell_mid .chartBox {min-height:130px; padding:0 5px; border:1px solid #e0e3ea; border-radius:3px; background:#f5f7f9;}
.cellArea .lot_cell .cellBox.sum.disabled .cell_mid .chartBox{background:#d3d7dc; pointer-events:none;} /*mrs 20201130 추가*/

/* 학습모니터링(대기열) */
.cellArea .lot_cell .cellBox .cell_mid .fifo {position:absolute; top:87px; left:0; width:100%; height:calc(100% - 87px); text-align:center; border-radius:6px; background:#fff; z-index:10;}
.cellArea .lot_cell.active .cellBox {display:block;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .aniBox {display:block; margin:50px 0 20px 0;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .aniBox img {width:130px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .tit {margin:0 0 20px 0; font-size:20px; font-weight:700; line-height:28px; letter-spacing:-1px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .ft_point_orange {color:#F60;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .txt {margin:0 0 20px 0; font-size:16px; line-height:22px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .txt_s {margin:0 0 50px 0; color:#99a3ae; font-size:13px; font-weight:200; line-height:18px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo .btn_learning_cancel {display:inline-block; height:38px; margin:0 2px; padding:0 20px; color:#fff; font-size:13px; text-align:center; line-height:36px; border:none; border-radius:3px; box-sizing:border-box; background:#7e8994; transition:all 0.3s ease-out;}

/* [D]201027추가-학습모니터링(학습중지) */
.cellArea .lot_cell .cellBox .cell_mid .fifo_error {position:absolute; top:87px; left:0; width:100%; height:calc(100% - 87px); text-align:center; border-radius:6px; background:#fff; z-index:10;}
.cellArea .lot_cell.active .cellBox {display:block;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .aniBox {display:block; margin:50px 0 20px 0;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .aniBox img {width:130px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .tit {margin:0 0 20px 0; font-size:20px; font-weight:700; line-height:28px; letter-spacing:-1px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .ft_point_orange {color:#F60;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .txt {margin:0 0 20px 0; font-size:16px; line-height:22px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .txt_s {margin:0 0 50px 0; color:#99a3ae; font-size:13px; font-weight:200; line-height:18px;}
.cellArea .lot_cell .cellBox .cell_mid .fifo_error .btn_learning_cancel {display:inline-block; height:38px; margin:0 2px; padding:0 20px; color:#fff; font-size:13px; text-align:center; line-height:36px; border:none; border-radius:3px; box-sizing:border-box; background:#7e8994; transition:all 0.3s ease-out;}

.cellArea .lot_cell .cellBox .cell_btm {display:block; margin:15px 0 0 0; padding:15px 25px; border-top:1px solid #e2e5ec;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox {display:block; clear:both; overflow:hidden; padding:0; text-align:right;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox button {display:inline-block; height:100%; margin:0 2px; padding:0 25px; color:#fff; font-size:13px; text-align:center; line-height:34px; border:1px solid #3599ff; border-radius:3px; box-sizing:border-box; background:#3599ff; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox button:hover {box-shadow:0 2px 4px rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox button:disabled {border:1px solid #4c5865; background:#4c5865; opacity:0.5;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox a {display:inline-block; height:100%; margin:0 2px; padding:0 25px; color:#fff; font-size:13px; text-align:center; line-height:34px; border:1px solid #3599ff; border-radius:3px; box-sizing:border-box; background:#3599ff; transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox a:hover {box-shadow:0 2px 4px rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.cellArea .lot_cell .cellBox .cell_btm .btnSqBox a.disabled {border:1px solid #718292; background:#718292; opacity:0.4; pointer-events:none;}

#treeSelect {height:200px;}

.enTestBox {display:block;}
.enTestBox .testStep {display:none;}
.enTestBox .testStep:first-child {display:block;}
.enTestBox .testStep .setpBox {display:block; position:relative; border:1px solid #e0e3ea; border-radius:4px; background:#f5f7f9;}
.enTestBox .testStep .setpBox p.infoTxt {display:block; padding:30px 0 20px 0; font-size:14px; text-align:center;}
.enTestBox .testStep .setpBox p.ani_mesg {display:block; padding:0; font-size:14px; text-align:center;}
.enTestBox .testStep .setpBox p.ani_mesg .ft_point {color:#F60;}
.enTestBox .testStep.error .setpBox {padding:30px 0 0 0; text-align:center;}
.enTestBox .testStep.error .setpBox .ani_mesg {font-size:13px;}
.enTestBox .testStep.error .setpBox .ani_mesg strong {display:block; margin:0 0 15px 0; font-size:15px;}
.enTestBox .testStep .btnBox {display:block; padding:15px 15px 25px 15px; text-align:center;}
.enTestBox .testStep.step05 .btnBox {padding:15px 15px 0 15px;}
.enTestBox .testStep .btnBox button {display:inline-block; margin:0 5px; width:70px; height:70px; padding:0; color:#fff; font-size:12px; letter-spacing:-1px; vertical-align:top; border:none; border-radius:100px; background:#7e8994;}
.enTestBox .testStep .btnBox button:disabled {border:1px solid #4c5865; background:#4c5865; opacity:0.3;}
.enTestBox .testStep .btnBox button.btn_clr {background:#3599ff;}
.enTestBox .testStep .btnBox button.btn_clr:disabled {border:1px solid #4c5865; background:#4c5865;}
.enTestBox .testStep .btnBox button:before {content:''; display:block; width:100%; height:16px;}
.enTestBox .testStep .btnBox .fileBox {display:inline-block; position:relative; margin:0 5px;}
.enTestBox .testStep .btnBox .fileBox label {display:block; width:70px; height:70px; padding:0; color:#fff; font-size:12px; letter-spacing:-1px; vertical-align:top; border:1px solid #3599ff; border-radius:100px; background:#3599ff; opacity:1.0;}
.enTestBox .testStep .btnBox .fileBox label.disabled {border:1px solid #4c5865; background:#4c5865; opacity:0.3; pointer-events:none;}
.enTestBox .testStep .btnBox .fileBox label:before {content:''; display:block; width:100%; height:16px; margin:17px 0 0 0;}
.enTestBox .testStep .btnBox .fileBox input[type="file"] {overflow:hidden; position: absolute; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.enTestBox .testStep .btnBox .ico_record:before {background:url(../images/ico_record_w.svg) 50% 50% no-repeat; background-size:100% 100%;}
.enTestBox .testStep .btnBox .ico_upload:before {background:url(../images/ico_fileUpload_w.svg) 50% 50% no-repeat; background-size:100% 100%;}
.enTestBox .testStep .btnBox .ico_stop:before {background:url(../images/ico_stop_w.svg) 50% 50% no-repeat; background-size:100% 100%;}
.enTestBox .testStep .btnBox .ico_reset:before {background:url(../images/ico_back_w.svg) 50% 50% no-repeat; background-size:100% 100%;}
.enTestBox .testStep .lst_info {display:block; padding:10px 0 0 0; color:#98a7b7; font-weight:400; text-align: center;}
.enTestBox .resultBox {display:block; overflow:auto; min-height:130px; padding:10px;}

#lyr_modelAPI_add {width:700px;}
#lyr_learnHisSrch {width:60%; min-width:800px;}

/* Table */
.tbl_lstBox {display:block; clear:both; overflow:hidden; border-radius:3px; border:1px solid #e9ecf1; box-sizing:border-box;}
.tbl_lstBox.scroll_s {overflow:auto; height:131px;}
.tbl_lstBox table {width:100%;}
.tbl_lstBox table thead th {min-height:28px; padding:7px 5px; color:#8b939c; font-size:13px; text-align:left; line-height:16px; border-bottom:1px solid #eceef3; vertical-align:middle; background:#f5f7f9;}
.tbl_lstBox table tbody td {min-height:28px; padding:7px 5px; color:#121f3e; font-size:13px; line-height:18px; text-align:left; border-bottom:1px solid #eceef3; transition:all 0.3s ease-out;}
.tbl_lstBox table tbody tr:hover td {background:#f2f6ff; transition:all 0.3s ease-out;}
.tbl_lstBox table tbody td.dataNone {max-width:none; color:#99a3ae; font-size:12px; text-align:center; pointer-events:none;}
.tbl_lstBox table tbody td.dataNone:before {display:none !important;}
.tbl_lstBox table tbody tr.active td {border-bottom:1px solid rgba(0,0,0,0.05); background:#f2f8ff;}
.tbl_lstBox table tbody tr:last-child td {border:none;}

.tbl_lstBox table#srch_dataLst tbody tr.active td {background:#cbe5ff;}
.tbl_lstBox#use_dataLst table tbody tr td {border-bottom:1px solid rgba(0,0,0,0.05); background:#fbfbfb;}

.lyr_mid .tbl_lstBox {background:#fff;}
.lyr_mid .tbl_lstBox table  thead th {padding:7px 10px; color:#fff; background:#858c94;}
.lyr_mid .tbl_lstBox table tbody td {padding:10px;}
.lyr_mid .tbl_lstBox table tbody td.txt_ellipsis {max-width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}

.cellArea .lot_cell .cellBox .cell_mid .tbl_lstBox table thead th {font-size:12px;}
.cellArea .lot_cell .cellBox .cell_mid .tbl_lstBox table tbody td {overflow:hidden; max-width:80px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; box-sizing:border-box;}
.cellArea .lot_cell .cellBox .cell_mid .tbl_lstBox table tbody tr.active td:first-child:before {content:'\2714\fe0e'; display:inline-block; width:15px; height:15px; margin:0 5px 0 0; color:#3599ff; font-size:11px; text-align:center; line-height:15px; border:none; border-radius:20px; background:#fff; box-sizing:border-box;}

.cellArea .lot_cell .cellBox .cell_mid .tbl_lstBox table#srch_dataLst tbody tr.active td:first-child:before {color:#fff; background:#3599ff;}
.cellArea .lot_cell .cellBox .cell_mid .tbl_lstBox#use_dataLst table tbody tr td:first-child:before {content:'x'; display:inline-block; width:15px; height:15px; margin:0 5px 0 0; color:#ff3535; font-size:11px; text-align:center; line-height:12px; vertical-align:top; border:none; border-radius:20px; background:#fff; box-sizing:border-box;}

.lyrWrap .lyrBox .lyr_mid .hiddenBox {display:block;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox h3 {display:none; margin:7px 0 5px 0; color:#596979; font-size:12px; font-weight:400;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox .dlBox {display:none; border:1px solid #eff1f7; box-sizing:border-box; background:#fff;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox .dlBox:first-child {display:block;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox h3 + .dlBox {display:block;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox .dlBox dt {display:table-cell; padding:3px 10px; color:#8b939c; font-size:12px; font-weight:400; vertical-align:top; background:#eff1f7;}
.lyrWrap .lyrBox .lyr_mid .hiddenBox .dlBox dd {display:table-cell; padding:3px 10px; vertical-align:top;}
.lyrWrap .lyrBox .lyr_mid .tbl_lstBox.scroll_s {display:none;}

.lyrWrap .lyrBox .lyr_mid tr.active td {vertical-align:top; background:#d3e9ff;}
.lyrWrap .lyrBox .lyr_mid tr.active .hiddenBox .dlBox {display:block; margin:0 0 3px 0;}
.lyrWrap .lyrBox .lyr_mid tr.active .hiddenBox .dlBox:last-child {margin:0;}
.lyrWrap .lyrBox .lyr_mid tr.active .hiddenBox h3 {display:block;}

.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active {position:relative;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active td:first-child:before {content:'\2714\fe0e'; display:inline-block; width:15px; height:15px; margin:0 5px 0 0; color:#3599ff; font-size:11px; text-align:center; line-height:15px; border:none; border-radius:20px; background:#fff; box-sizing:border-box;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active td.txt_ellipsis {max-width:auto; white-space:normal;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox.scroll_s {display:block; width:200px; max-width:auto; height:auto; margin:0 0 3px 0;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table thead {float:left; border-right:1px solid #eceef3;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table thead th {display:inherit; min-height:auto; height:26px; padding:0 10px; color:#8b939c; font-size:11px; font-weight:normal; line-height:26px; border-bottom:1px solid rgba(0,0,0,0.1); box-sizing:border-box; background:#eff1f7;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table thead tr th:last-child {border:none;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody {float:left;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr {display:none;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr.show td:first-child:before {content:''; display:none;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr.show td:first-child:before {content:''; display:none;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr.show {display:inline-block; float:left; border-right:1px solid #eceef3; box-sizing:border-box;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr.show td {display:block; overflow:hidden; width:60px; min-height:auto; height:26px; padding:0 3px; color:#3599ff; font-size:11px; line-height:26px; border-bottom:1px solid #eceef3; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; box-sizing:border-box; background:#fff;}
.lyrWrap .lyrBox .lyr_mid #tbl_learnHisSrch tr.active .hiddenBox .tbl_lstBox table tbody tr.show td:last-child {border:none;}

.lyrWrap .lyrBox .lyr_btm .btnBox  a {color:#fff; border:1px solid #3599ff; background:#3599ff;}
.lyrWrap .lyrBox .lyr_btm .btnBox  a.disabled {color:#fff;  border:1px solid #4c5865; background:#4c5865; opacity:0.5;}

.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dt {padding:0 0 4px 0; color:#98a7b7;}
.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dt span {display:inline-block; margin:-1px 5px 0 0;}
.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dd {display:block; padding:5px 10px; border:1px solid rgba(0,0,0,0.07); border-radius:3px; background:rgba(30,40,109,0.05);}
.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dd.ft_clr {color:#3599ff;}
.lyrWrap .contactBox .contact_cnt .contact_form .contact_item_block {padding:15px 10px 0 10px;}
.lyrWrap .contactBox .contact_btn {padding:15px 0 30px 0;}

/* 엔진설정(입력후 썸네일) */
.cellArea .lot_cell .cellBox.sum .cell_mid h5:first-child {margin:12px 25px 10px 25px; padding:0;}
.cellArea .lot_cell .cellBox.sum .cell_mid h5 {overflow:hidden; height:0px; margin:10px 25px 5px 25px; padding:0; line-height:50px;}
.cellArea .lot_cell .cellBox.sum .cell_mid .toggleBox {margin:0 0 5px 0}
.cellArea .lot_cell .cellBox.sum .cell_mid .toggleBox h5 {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .toggleBox .toggle {display:block;}
.cellArea .lot_cell .cellBox.sum .cell_mid .toggleBox .ipt_txt {min-height:20px; padding:0; color:#3599ff; border:none; background:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item.sum_hide {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .select {min-height:20px; padding:0; color:#3599ff; border:none; background:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .ipt_txt {width:25px; min-width:auto; min-height:20px; padding:0; color:#3599ff; border:none; background:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .radioBox {min-height:20px;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .radioBox input[type="radio"] + label {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .radioBox input[type="radio"]:checked + label {display:block; min-height:20px; padding:0; color:#3599ff; line-height:20px;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .radioBox input[type="radio"]:checked + label:before{display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd .radioBox input[type="radio"]:checked + label:after{display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl {display:block; width:100%; margin:0 0 5px 0; box-sizing:border-box;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:last-child {margin:0;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:first-child:nth-last-child(1) {display:block; width:100%;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:first-child:nth-last-child(2), .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:first-child:nth-last-child(2) ~ dl {display:block; width:100%;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:first-child:nth-last-child(3), .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl:first-child:nth-last-child(3) ~ dl {display:block; width:100%;}
.cellArea .lot_cell .cellBox.sum .btnSqBox {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox.scroll_s {width:100%; max-width:250px; height:auto;}
.maumUI #container .contents .cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox {margin:0;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table thead {float:left;  border-right:1px solid #eceef3;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table thead th {display:block; min-height:auto; height:26px; padding:0 3px; color:#98a7b7; font-size:11px; font-weight:normal; line-height:26px; border-bottom:1px solid rgba(255,255,255,0.2); box-sizing:border-box;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table thead tr th:last-child {border:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody {float:left;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr.active td:first-child:before {content:''; display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr.show td:first-child:before {content:''; display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr.active {display:inline-block; float:left; border-right:1px solid #eceef3; box-sizing:border-box;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr.active td {display:block; overflow:hidden; width:60px; min-height:auto; height:26px; padding:0 5px; color:#3599ff; font-size:11px; line-height:26px; border-bottom:1px solid #eceef3; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; box-sizing:border-box; background:#fff;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox table tbody tr.active td:last-child {border:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .tbl_lstBox#use_dataLst table tbody tr td:first-child:before {display:none;}

.cellArea .lot_cell .cellBox.sum .cell_btm {display:none;}
.cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl select, .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl input, .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl label, .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl table {cursor:default; pointer-events:none;}

.cellArea .lot_cell .cellBox.sum .treeBox {height:auto; padding:0; border:none; background:none; pointer-events:none;}
.cellArea .lot_cell .cellBox.sum .treeBox .filetree li {padding:0;}
.cellArea .lot_cell .cellBox.sum .treeBox .filetree span.folder {display:none;}
.cellArea .lot_cell .cellBox.sum .treeBox .filetree span.file {display:none;}
.cellArea .lot_cell .cellBox.sum .treeBox .filetree span.file.active {display:block;}

.cellArea .lot_cell .cellBox.sum .cell_mid .fifo_none .lot_item:nth-child(2) {padding:10px 15px 0 15px;}
.cellArea .lot_cell .cellBox.sum .cell_mid .fifo_none .lot_item:last-child {padding:0 15px;}

.cellArea .lot_cell .cellBox.sum.disabled {background:rgba(57,73,90,0.25); pointer-events:none;}
.cellArea .lot_cell .cellBox.sum.disabled .cell_top {border-bottom:1px solid rgba(0,0,0,0.1);}
.cellArea .lot_cell .cellBox.sum.disabled .cell_mid .lot_item dl dt {color:#758698;}
.maumUI #container .contents .cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox {background:rgba(150,157,165,0.1); border:1px solid rgba(96,110,125,0.1);}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox table thead {border-right:1px solid rgba(0,0,0,0.05);}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox table thead th {color:#6a7177; border-bottom:1px solid rgba(0,0,0,0.05); background:rgba(255,255,255,0.3);}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox table tbody td {background:none;}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox table tbody tr.active {border-right:1px solid rgba(0,0,0,0.05);}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox table tbody tr.active td {border-bottom:1px solid rgba(0,0,0,0.05); background:none;}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox#use_dataLst table tbody tr.active {border-right:1px solid rgba(0,0,0,0.05);}
.cellArea .lot_cell .cellBox.sum.disabled .tbl_lstBox#use_dataLst table tbody tr td {background:none;}

/* treeview */
.treeBox {overflow:auto; height:130px; padding:0 5px; border:1px solid #e0e3ea; border-radius:3px; background:#f5f7f9;}
.treeview, .treeview ul {padding:0; margin:0; list-style:none;}
.treeview ul {margin-top:4px;}
.treeview .hitarea {background:url(../images/treeview/treeview-default.gif) -64px -25px no-repeat; height:16px; width:16px; margin-left:-16px; float:left; cursor:pointer;}

/* alert */
.altBox {display:none; position:fixed; top:1px; left:50%; min-width:400px; padding:15px 20px; border-radius:4px; background:#fff; box-shadow:0 0 7px rgba(0,0,0,0.3); transform:translate(-50%,0); z-index:1000;}
.altBox dl {display:block; padding:0 0 12px 0;}
.altBox dl dt {display:block; padding:0 0 10px 0; color:#727782; font-size:16px; font-weight:400;}
.altBox dl dd {display:block; color:#000; font-size:14px; font-weight:400;}
.altBox .btnBox {text-align:right;}
.altBox .btnBox button {min-width:50px; padding:5px 15px; color:#121f3e; font-size:13px; border:1px solid #d7dee7; background:#fff;}
.altBox .btnBox button.btn_clr {color:#fff; border:1px solid rgba(0,0,0,0.05); background:#3599ff;}

/* pageing */
.pageing a {width:25px; height:30px; color:#98a7b7; box-sizing:border-box; line-height:32px; vertical-align:top;}
.pageing a:hover {color:#121f3e;}
.pageing a.first {width:30px; margin:0; border:1px solid #cbd1d8; text-indent:-999px; background:#fff url(../images/ico_paging_first.png) 50% 50% no-repeat;}
.pageing a.first:hover,.pageing a.first:focus {color:#fff; border:1px solid #98a7b7;}
.pageing a.prev {width:30px; border:1px solid #cbd1d8; text-indent:-999px; background:#fff url(../images/ico_paging_prev.png) 50% 50% no-repeat;}
.pageing a.prev:hover,.pageing a.prev:focus {color:#fff; border:1px solid #98a7b7;}
.pageing a.next {width:30px; border:1px solid #cbd1d8; text-indent:-999px; background:#fff url(../images/ico_paging_next.png) 50% 50% no-repeat;}
.pageing a.next:hover,.pageing a.next:focus {color:#fff; border:1px solid #98a7b7;}
.pageing a.end {width:30px; margin:0; border:1px solid #cbd1d8; text-indent:-999px; background:#fff url(../images/ico_paging_end.png) 50% 50% no-repeat;}
.pageing a.end:hover,.pageing a.end:focus {color:#fff; border:1px solid #98a7b7;}
.pageing strong {width:30px; height:30px; color:#3599ff; border:none; line-height:30px; vertical-align:top;}

/* 210206추가 YMJ */
#step01 .tbl_lstBox table tbody td:nth-child(3):after {content:'분'; display:inline-block;}
#step01 .tbl_lstBox table tbody td:nth-child(4):after {content:'분'; display:inline-block;}

#step02 .tbl_lstBox table tbody td:nth-child(3):after {content:'분'; display:inline-block;}
#step02 .tbl_lstBox table tbody td:nth-child(4):after {content:'분'; display:inline-block;}
#step02.disabled .toggleBox .toggle dl dd .ipt_txt, #step02.sum .toggleBox .toggle dl dd .ipt_txt {width:auto;}

#tbl_learnHisSrch tbody td:nth-child(2) .hiddenBox .tbl_lstBox tbody td:nth-child(3):after {content:'분'; display:inline-block;}
#tbl_learnHisSrch tbody td:nth-child(2) .hiddenBox .tbl_lstBox tbody td:nth-child(4):after {content:'분'; display:inline-block;}

#tbl_learnHisSrch tbody td:nth-child(3) .hiddenBox .tbl_lstBox tbody td:nth-child(3):after {content:'분'; display:inline-block;}
#tbl_learnHisSrch tbody td:nth-child(3) .hiddenBox .tbl_lstBox tbody td:nth-child(4):after {content:'분'; display:inline-block;}

/* fix for IE6 */
* html .hitarea {display:inline; float:none;}
.treeview li {margin:0; padding:3px 0pt 3px 16px;}
.treeview a.selected {background-color:#eee;}
#treecontrol {margin:1em 0;  display:none;}
.treeview .hover {color:#3599ff; cursor:pointer;}
.treeview li {background:url(../images/treeview/treeview-default-line.gif) 0 0 no-repeat;}
.treeview li.collapsable, .treeview li.expandable {background-position:0 -176px;}
.treeview .expandable-hitarea {background-position:-80px -3px;}
.treeview li.last {background-position:0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable {background-image:url(../images/treeview/treeview-default.gif);}
.treeview li.lastCollapsable {background-position:0 -111px }
.treeview li.lastExpandable {background-position:-32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {background-position:0;}
.treeview-red li {background-image:url(../images/treeview/treeview-red-line.gif);}
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {background-image:url(../images/treeview/treeview-red.gif);}
.treeview-black li {background-image:url(../images/treeview/treeview-black-line.gif);}
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {background-image:url(../images/treeview/treeview-black.gif);}
.treeview-gray li {background-image:url(../images/treeview/treeview-gray-line.gif);}
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {background-image:url(../images/treeview/treeview-gray.gif);}
.treeview-famfamfam li {background-image:url(../images/treeview/treeview-famfamfam-line.gif);}
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {background-image:url(../images/treeview/treeview-famfamfam.gif);}
.treeview .placeholder {display:block; width:16px; height:16px; background:url(../images/treeview/ajax-loader.gif) 0 0 no-repeat;}
.filetree li {padding:3px 0 2px 16px; line-height:12px;}
.filetree span.folder, .filetree span.file {display:block; padding:1px 0 1px 20px; color:#121f3e; cursor:pointer;}
.filetree span.folder {background:url(../images/treeview/folder.gif) 0 0 no-repeat;}
.filetree li.expandable span.folder {background:url(../images/treeview/folder-closed.gif) 0 0 no-repeat;}
.filetree span.file {background:url(../images/treeview/file.gif) 0 0 no-repeat;}
.treeBox .filetree span.file.active {color:#3599ff;}
.treeBox .filetree span.file.active:after {content:'\2714\fe0e'; display:inline-block; width:13px; height:13px; margin:0 0 0 5px; color:#fff; font-size:9px; text-align:center; line-height:13px; vertical-align:middle; border:none; border-radius:20px; background:#3599ff; box-sizing:border-box;}

.cellBox.sum .treeview li {background:none;}
.cellBox.sum .filetree span.file.active:after {display:none;}

.mdStatus em {display:inline-block; margin:0 0 0 7px; padding:4px 15px; color:#98a7b7; font-size:12px; border-radius:20px; background:#f5f7f9;}
.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dd.enable { padding:0; border:none; background:#fff;}
.lyrWrap .contactBox .contact_cnt .contact_form .dlBox dd.enable .ipt_txt {height:32px; background:none;}

/* animation(timer) */
.ani_timer {width:50px; height:50px; background-color:transparent; box-shadow:inset 0px 0px 0px 2px #3599ff; border-radius:50%; position:relative; margin:15px auto; /* Not necessary- its only for layouting*/ }
.ani_timer:after, .ani_timer:before {position:absolute; content:''; background-color:#3599ff;}
.ani_timer:after {width:20px; height:2px; top:24px; left:24px; -webkit-transform-origin:1px 1px; -moz-transform-origin:1px 1px; transform-origin:1px 1px; -webkit-animation:minHand 2s linear infinite; animation:minHand 2s linear infinite;}
.ani_timer:before {width:14px; height:2px; top:24px; left:24px; -webkit-transform-origin:1px 1px; -moz-transform-origin:1px 1px; transform-origin:1px 1px; -webkit-animation:hrHand 8s linear infinite; animation:hrHand 8s linear infinite;}

@-webkit-keyframes minHand {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes minHand {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes hrHand {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes hrHand {
    0%  {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* animation(voice) */
.ani_voice {margin:20px auto; width:50px; height:40px; font-size:10px; text-align:center;}
.ani_voice > span {display:inline-block; width:6px; height:100%;margin:0 2px 0 0; background-color:#3599ff; -webkit-animation:aniVoice 1.2s infinite ease-in-out; animation:aniVoice 1.2s infinite ease-in-out;}
.ani_voice .voiceBar02 {-webkit-animation-delay:-1.1s; animation-delay:-1.1s;}
.ani_voice .voiceBar03 {-webkit-animation-delay:-1.0s; animation-delay:-1.0s;}
.ani_voice .voiceBar04 {-webkit-animation-delay:-0.9s; animation-delay:-0.9s;}
.ani_voice .voiceBar05 {-webkit-animation-delay:-0.8s; animation-delay:-0.8s;}

@-webkit-keyframes aniVoice {
    0%, 40%, 100% {transform:scaleY(0.4);}
    20%           {transform:scaleY(1.0);}
}

@keyframes aniVoice {
    0%, 40%, 100% {transform:scaleY(0.4);}
    20%           {transform:scaleY(1.0);}
}

/* animation(mix) */
.ani_mix {position:relative; width:10px; height:10px; margin:50px auto;}
.ani_mix .mixDot01 {position:absolute; border-radius:50%; left:1px; top:1px; width:9px; height:9px; background:#3599ff; animation:mixSpin 2.5s 0s infinite both; opacity:0.7;}
.ani_mix .mixDot02 {position:absolute; border-radius:50%; width:10px; height:10px; background:#3599ff; animation:mixSpin2 2.5s 0s infinite both;}

@keyframes mixSpin {
    0%, 100% {box-shadow:0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff;}
    50%      {transform:rotate(180deg);}
    25%, 75% {box-shadow:14px 0 0 #3599ff, -14px 0 0 #3599ff, 0 14px 0 #3599ff, 0 -14px 0 #3599ff, 10px -10px 0 #3599ff, 10px 10px 0 #3599ff, -10px -10px 0 #3599ff, -10px 10px 0 #3599ff;}
    100%     {transform:rotate(360deg); box-shadow:0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff;}
}
@keyframes mixSpin2 {
    0%, 100% {box-shadow:0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff;}
    50%      {transform:rotate(-180deg);}
    25%, 75% {box-shadow:26px 0 0 #3599ff, -26px 0 0 #3599ff, 0 26px 0 #3599ff, 0 -26px 0 #3599ff, 19px -19px 0 #3599ff, 19px 19px 0 #3599ff, -19px -19px 0 #3599ff, -19px 19px 0 #3599ff; background:transparent;}
    100%     {transform:rotate(-360deg); box-shadow:0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff, 0 0 0 #3599ff;}
}

.mgb30 {margin-bottom:30px !important;}

/* -------------------- IE10+ hack --------------------  */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none)
{.cellArea .lot_cell .cellBox .cell_top .btn_step_help {margin:32px 0 0 0; line-height:26px;}
    .cellArea .lot_cell .cellBox .cell_mid .toggleBox h5 button {line-height:38px;}
    .cellArea .lot_cell .cellBox .cell_mid .lot_item dl dt .ico_help::before {bottom:5px; line-height:18px;}
    .cellArea .lot_cell .cellBox .cell_btm .btnSqBox button {height:36px; line-height:42px;}
    select::-ms-expand {display:none;}
    .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd {position:relative;}
    .cellArea .lot_cell .cellBox.sum .cell_mid .lot_item dl dd:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:transparent;}

}